<header>
  <nav class="navbar-toggleable-md navbar-inverse ">
    <%= link_to 'バーチャルYoutuber音声DB', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </nav>
</header>