<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'バーチャルYoutuber音声DB', root_path, class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse">
      </div>
    </div>
  </nav>
</header>